@charset "UTF-8";

@font-face{
    font-family:ABITARE ;
    src:url("../../css/ABITARE SANS 500 WT.OTF");
}
*{padding:0;margin: 0;box-sizing: border-box;font-family:MicrosoftYaHei-Bold;color: #fff;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
html{overflow: hidden}
li{list-style:none;}
h2{font-size:84px;font-weight:bold;color:rgba(227,237,248,1);text-shadow:4px 9px 4px rgba(0, 0, 0, 0.75);
    -webkit-text-stroke:2px rgba(6, 44, 51, 0.75);}

/*布局*/
.flex{display: flex;align-items: center;}
.flex_bet{display:flex;align-items: center;justify-content: space-between; }
.flex_cen{display:flex;align-items: center;justify-content: center;}
.border_top{border-top:1px solid }
.border_right{border-right:1px solid}
.position{position: absolute;transform: translate(-50%,-50%);top:50%;left:50%}
.block{width: 12px;height:12px;transform: rotate(45deg);display:inline-block;vertical-align:middle;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);border:2px solid rgba(13, 66, 75, 0.5)}
.square{width:10px;height:10px;display:inline-block;}


/*css*/
.font_green{color:rgba(88, 255, 84, 1)}
.font_yellow{color:rgba(255,174,32,1);}
.font_red{color:rgba(240, 62, 0, 1)}

.green{background-color:rgba(28, 255, 167, 1);}
.yellow{background-color:rgba(254, 248, 58, 1);}
.red{background-color: rgba(254, 105, 53, 1);}

.green_bg{background:rgba(1,215,76,1);}
.yellow_bg{background:rgba(255,200,32,1);}
.red_bg{background:rgba(255,74,18,1);}

.green_bg_border{background:rgba(1,215,76,0.15);border:2px solid rgba(1, 215, 76, 1)}
.yellow_bg_border{background:rgba(255,144,0,0.15);border:2px solid rgba(255, 200, 32, 1);}
.red_bg_border{background:rgba(255,74,18,0.15);border:2px solid rgba(255, 74, 18, 1)}

.font_number{font-family: ABITARE}
svg circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}


::-webkit-scrollbar{width: 9px;height: 240px;position: absolute;}
::-webkit-scrollbar-track {background:rgba(255,255,255,0.2);}
::-webkit-scrollbar-thumb {background:rgba(255,255,255,0.4);}
/*带横杠的柱图*/
.barChart_item{display: flex;align-items: center;line-height: 36px;}
.barChart_item_name{font-size:18px;color:rgba(255,255,255,0.75);}
.barChart_item_bar{display: flex;align-items: center;margin-left: 20px;margin-right: 13px;}
.barChart_item_ac{height:17px;}
.barChart_item_bg{height:2px;background:rgba(255,255,255,0.15)}
.barChart_item_num{font-size:26px;}


.info_item{display: flex;align-items: center}
.info_left{margin-right: 20px;}
.info_name{font-size:50px;color:rgba(255,255,255,1);}
.info_value{font-size:20px;color:rgba(255,255,255,0.75)}

